 body{
	background:url(../img/DevBG.JPG);
	background-attachment:fixed;
	background-size: cover;
	color:$drkblu;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	border: 1px solid transparent;
	max-height: 100%;

}
h1{
	font-size:6em;
	font-family:"Megrim",serif;
	text-align: center;
	//background:$ltgrey;
}
h2{
	font-family: "Megrim", serif;
	text-align: center;
	font-size:3em;
}


section{
	transition: 1s ease;
	a{
		@include feature;
	}
	h3{
		text-size:1.3em;
		text-align: center;
		font-family:"Megrim", serif;
		text-decoration: underline;
	}
	p{
		margin-left:5%;
		display: none; 
	}
	@include feature;
}
section:hover{
	transition: 1s ease;

	p{
		display: block;
	}
	img{
		display: none;
	}
}
footer{
	background:$drkblu;
	height:78px;
	ul{
		list-style: none;
		margin-left: 36%;
		padding-top: 2%;
		li{
			display: inline-block;
			margin-left: 5%;
			a{
				text-decoration: underline;
				color:$ltgrey;
				font-size: .9em;
			}
		}
	}
}
.maingrid{
	display:grid;
	grid-template-rows: 200px repeat(10,300px); 
	grid-template-columns: repeat(5, 1fr);
	grid-template-areas: 
		"head head head head head"
		"bash bash bash . ."
		". . letters letters letters"
		"corpse corpse corpse . ."
		". . soon1 soon1 soon1"
		"soon2 soon2 soon2 . ."
		". . soon3 soon3 soon3"
		"soon4 soon4 soon4 . ."
		". . soon5 soon5 soon5"
		"soon6 soon6 soon6 . ."
}

.gridhead{
	grid-area: head;
}
.p1{
	grid-area: bash;
}
.p2{
	grid-area: letters;
}
.p3{
	grid-area: corpse;
}
.p4{
	grid-area: soon1;
}
.p5{
	grid-area: soon2;
}
.p6{
	grid-area: soon3;
}
.p7{
	grid-area: soon4;
}
.p8{
	grid-area: soon5;
}	
.p9{
	grid-area: soon6;
}
section{
	img{
		max-width: 170px;
		max-height: auto;
		display: inline-block;
		margin-left: 35%;
		padding:2%;
		border: 2px solid $ltgrey;
	}
}


